<div class="form-group attachment" data-item="<%= @attachment.id %>" data-url="<%= delete_backends_attachments_path(id: @attachment.id) %>">
	<label class="col-lg-3 col-sm-3 control-label">ATTACHMENT</label>
	<div class="col-lg-9">
		<div class="fileupload row">
			<div class="col-lg-6">
				<input type="hidden" class="attachment_id" name="attachment[id][]" value="<%= @attachment.id %>" />
				<img style="max-width: 100%" class="img-thumbnail" src=<% if @attachment.file.present?%> "<%= @attachment.file %>" <%else%> "http://www.placehold.it/400x300/EFEFEF/AAAAAA&amp;text=no+image" <%end%>alt="">
			</div>

			<div class="col-lg-6">
				<span class="btn btn-default btn-file" > Uploads
					<input type="file">
				</span>
				<button type="button" class="btn btn-danger remove_attachment">
					<i class="fa fa-trash-o"></i>
				</button>
			</div>
		</div>
	</div>
</div>
